<launch>
<node name="landmarks_publisher" pkg="simulator" type="landmarks_publisher"/>
<node name="obstacles_publisher" pkg="simulator" type="obstacles_publisher"/>
<node name="goal_publisher_node" pkg="executive" type="goal_publisher_node" />
<node name="waypoints_publisher" pkg="executive" type="waypoints_publisher"/>
<node name="simulator_node" pkg="simulator" type="simulator_node"/>
<node name="gui_node" pkg="gui" type="gui_node"/>
<node name="navigation_node" pkg="navigation" type="navigation_node" launch-prefix = "gnome-terminal --"/>
<node name="oc_grid_publisher_node" pkg="mapper" type="oc_grid_publisher_node"/>
<node name="ekf_localization_node" pkg="localization" type="ekf_localization_node"/>
</launch>
